# Base system requirements for Edge Telemetry

# Essential tools
git
curl
wget
tar
lsb-release
ca-certificates

# Container runtime
docker.io

# Kubernetes distribution
rke2

# Kubernetes client tools
kubectl
helm

# Linting & debugging
yamllint
htop
jq
